.new-field-container{
    background-color: #a77df7;
    padding: 1rem;
    margin: 2rem auto;
    width: 50rem;
    max-width: 95%;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
}

.new-field-container {
    font: inherit;
    cursor: pointer;
    padding: 1rem 2rem;
    border: 1px solid #8f7df7;
    background-color: #8f7df7;
    color: white;
    border-radius: 12px;

}

.new-field-container button:hover,
.new-field-container button:active {
    background-color: #8f7df7;
    border-color: #8f7df7;
}

.new-field-container button.alternative {
    color: #8f7df7;
    border-color: transparent;
    background-color: transparent;
}

.new-field-container button.alternative:hover,
.new-field-container button.alternative:active {
    background-color: #ddb3f8;
}

.new-field-container .field-element-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.field-element-container button{
    margin-left: auto;
    padding: 5px;
    color: #fff;
}