.update-field_controls {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 1rem;
    text-align: left;
  }
  
.update-field_control label {
    font-weight: bold;
    margin-bottom: 0.5rem;
    display: block;
  }
  
.update-field_control input {
    font: inherit;
    padding: 0.5rem;
    border-radius: 6px;
    border: 1px solid #ccc;
    width: 20rem;
    max-width: 100%;
  }
  
.update-field_actions {
    text-align: right;
}
.update-field_actions button {
  padding: 5px;
}
.prev-data-container{
  font-weight: 900;
  
}