.link-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 50px;
    margin-top: 0%;
    color: rgb(65, 153, 224);
    font-weight: 900;
}

.homw-page-container{
    margin-top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}


.any-page-link-container{
    outline: auto;
    height: 150px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.title-home-container h2{
    font-weight: 900;

}

