.new-item-container{
background-color: #a892ee;
padding: 1rem;
margin: 2rem auto;
width: 50rem;
max-width: 95%;
border-radius: 12px;
text-align: center;
box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
}

.new-item-container {
font: inherit;
cursor: pointer;
padding: 1rem 2rem;
border: 1px solid rgb(16, 16, 104);
background-color: rgb(16, 16, 104);
color: white;
border-radius: 12px;

}
.new-item-container .btn {
    padding: 15px;
    width: 120px;
    font-weight: 100;
    border-radius: 8px;
}

.new-item-container button:hover,
.new-item-container button:active {
    background-color: #90E0EF;
    border-color: #510674;
    color: black;
}

.new-item-container button.alternative {
color: #220131;
border-color: transparent;
background-color: transparent;
}

.new-item-container button.alternative:hover,
.new-item-container button.alternative:active {
background-color: #ddb3f8;
}