.cancel-item_actions{
  text-align: right; 
}  

.cancel-item_actions button{
  padding: 3px;
}

.select-section{
  font: inherit;
  font-weight: 100;
  padding: 0.5rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  width: 20rem;
  max-width: 100%;
  background: transparent;
  outline: auto;
  outline: solid;
  outline-width: 1px;
  color: white;


}
.selection-option{
  font-weight: 100;
  color: black;
  
}

.top-div-container{
  gap: 15px;
  
}

.items-cards-container{
  display: flex;
  margin-top: 10px;
  gap: 15px;
}