.middle-div-container{
  display: flex;
  flex-direction: row;
  gap: 45px;
  justify-items: right;
  align-items: baseline;
  width: 100%;
  margin-left: 10%;
} 

.dish-container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
}

.middle-div-container .dish-container .foodCategoryButtons{
  border-radius: 8px;
  margin-left: 10px;
  padding: 5px;
  cursor: pointer;
  position:static;
  top: 40%;
  left: 40%;
  color: #2196F3;
  text-decoration: none;
  background-color: transparent;
}

/* 
.middle-div-container .dish-container .foodCategoryButtons:hover{
  background-color: transparent;
  color: #b0b4eb;
  border-color: transparent;
  padding: 5px;
} */



.items-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.middle-left-title{
  font-weight: 900;
}

.items-container{
  gap : 5px;
}