.middle-div-container{
  display: flex;
  flex-direction: row;
  gap: 45px;
  justify-items: right;
  align-items: baseline;
  width: 100%;
  margin-left: 10%;
} 

.middle-div-container button{
  border-radius: 8px;
  margin-left: 10px;
  padding: 7px;
  background-color: #d1d4ff;
  cursor: pointer;
}


.middle-div-container button:hover{
  background-color: transparent;
  color: #b0b4eb;
  border-color: transparent;
}

.dish-container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
}

.items-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.middle-left-title{
  font-weight: 900;
}

.items-container{
  gap : 5px;
}