/*Table Page style*/

.table-page-container{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.middle-components{
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: row;
    align-items: baseline;
    gap: 1%;
    padding-bottom: 20px;
}  

/*middle page - right*/

    .middle-right-title{
        font-weight: 900;
        gap: 5px;
    }

    .table-items-container{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: baseline;
        gap: 5px;
        width: 100%;
        
    }


    .middle-right-container{
        width: 100%;
        gap: 25px;
    }

    .table-items-container div{
        background: rgb(207, 194, 247);
        width: 75%;
        

    }