.home-component {
    text-align: center;
    display: inherit;
    justify-content: center;
}
.btn-tables {
    margin-left: 5px;
    margin-right: 5px;
    background-color: red;
    display: inline-block;
}
#bottons-container{
  display: flex;
  justify-content: center;
  gap: 3px;
}

#bottons-container button {

    background-color: skyblue ;
}