.cancel-table_controls {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 1rem;
    text-align: left;
  }
  
.cancel-table_control label {
    font-weight: bold;
    margin-bottom: 0.5rem;
    display: block;
  }
  
.cancel-table_control input {
    font: inherit;
    padding: 0.5rem;
    border-radius: 6px;
    border: 1px solid #ccc;
    width: 20rem;
    max-width: 100%;
  }
  
.cancel-table_actions {
    text-align: right;
  }
 
.tables-card-container{
  display: flex ;
  flex-wrap: wrap;
  gap :5px;
}

.cancel-table_actions button{
  margin-top: 10px;
  padding: 5px;
}

.remove-table-container button{
  padding: 1px;
}