.delete-table-container {
    background-color: #a892ee;
    padding: 1rem;
    margin: 2rem auto;
    width: 50rem;
    max-width: 95%;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
}

.delete-table-container{
    font: inherit;
    cursor: pointer;
    padding: 1rem 2rem;
    border: 1px solid rgb(16, 16, 104);
    background-color: rgb(16, 16, 104);
    color: white;
    border-radius: 12px;
}

.delete-table-container .btn{
    padding: 15px;
    width: 120px;
    font-weight: 100;
    border-radius: 8px;
}

.delete-table-container .btn:hover,
.delete-table-container .btn:active {
    background-color: #90E0EF;
    border-color: #510674;
    color: black;
}

.delete-table-container .btn .alternative {
    color: #220131;
    border-color: transparent;
    background-color: transparent;
}

.delete-table-container .btn .alternative:hover,
.delete-table-container .btn .alternative:active {
    background-color: #ddb3f8;
}