.form-reservation .form-div {
  margin-bottom: 15px;
}

.form-label {
  margin-right: 15px;
  font-size: 16px;
  font-weight: 500;
  color: violet;
}

.form-reservation {
  outline: auto rgb(162, 140, 227);
  padding: 50px;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content:left;
}

#btn-container {
  display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
}

.reservation-title{
    font-size: 30px;
    font-weight: 900;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(163, 117, 244);
    margin-bottom: 20px;
}

.form-input{
  width: 60%;
}

.form-input:hover {
  background-color: transparent;
}


.btn:hover{
  color: #fff;
}
